# Local .terraform directories
**/.terraform/*

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as passwords, private keys, and other secrets.
*.tfvars

# Ignore override files as they are usually used to override resources for local development
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include .terraform.lock.hcl to keep provider versions consistent but it can be ignored if not required
terraform.lock.hcl

# Ignore Terraform plan output files
*.tfplan
